/* c:\Users\User\Documents\GitHub\WebDailyReport\container\htdocs\css\weekly_report.css */

.report-list {
    display: flex;
    flex-direction: column;
    gap: 13px; /* Spacing between rows */
    align-items: center;
}

.report-row, .report-header {
    width: 1061px;
    height: 78px;
    background: #E0E7ED;
    border-radius: 10px;
    display: flex;
    align-items: stretch; /* Make columns full height */
}

.report-header {
    font-weight: 400;
    font-size: 16px;
    color: #8E8B8B; /* 文字色を薄くする */
}

.report-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    text-align: center;
}

.col-date {
    flex-basis: 90px;
    font-size: 14px;
}

.col-title {
    flex-basis: 225px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    font-size: 16px;
}

.col-details {
    flex-basis: 746px; /* (1061 - 90 - 225)px */
    justify-content: flex-start; /* Align text to the left */
    text-align: left;
    font-size: 16px;
}